[data-color="art"] {
  background-color: $color-category-art;
}

[data-color="tech"] {
  background-color: $color-category-tech;
}

[data-color="music"] {
  background-color: $color-category-music;
}

[data-color="education"] {
  background-color: $color-category-education;
}

[data-color="sport"] {
  background-color: $color-category-sport;
}
