// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #ff7f00;
$secondary: #f5f7fb;
$accent: #16191c;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #ff0000;
$info: #31ccec;
$warning: #f2c037;

$color-title: #000000;
$color-sub-title: #7b7b7b;

$color-text: #5a5a5a;
$color-button-text: #ffffff;

$color-primary: #ff7f00;
$color-alert: #af0909;
$color-negative: #d10f0f;
$color-positive: #32cd32;
$color-info: #31ccec;

// Category Colors
$color-category-art: #c81800;
$color-category-meet: #c81800;
$color-category-tech: #02577a;
$color-category-music: #30b254;
$color-category-education: #02577a;
$color-category-sport: #30b254;

:root {
  --color-title: #{$color-title};
  --color-sub-title: #{$color-sub-title};

  --color-text: #{$color-text};
  --color-button-text: #{$color-button-text};

  --color-primary: #{$color-primary};
  --color-primary1: #{rgba($color-primary, 0.2)};
  --color-primary2: #{rgba($color-primary, 0.5)};
  --color-alert: #{$color-alert};
  --color-negative: #{$color-negative};
  --color-positive: #{$color-positive};
  --color-info: #{$color-info};

  // Category#{}s
  --color-category-art: #{$color-category-art};
  --color-category-meet: #{$color-category-meet};
  --color-category-tech: #{$color-category-tech};
  --color-category-music: #{$color-category-music};
  --color-category-education: #{$color-category-education};
  --color-category-sport: #{$color-category-sport};
}

@import "~quasar-variables-styl";
